@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");

.main-wrapper {
  position: relative;
  font-family: "Poppins", sans-serif;
}
.text-bl {
  color: #343a40 !important;
}
.text-wh {
  color: #fff !important;
}

/********************************** Header ***************************************/
.header {
  position: absolute;
  width: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.2);
}
.header .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.header .logo img {
  height: 32px;
  width: 32px;
}
.header .logo span {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 28px;
  text-shadow: 2px 5px 3px rgba(249, 247, 247, 0.06);
  font-weight: 200;
  color: #f8d689;
}
.img-responsive {
  width: 100%;
  max-width: 100%;
}

/************************ Footer ******************************/
.footer .copy_right {
  font-size: 15px;
  letter-spacing: 1px;
}

/***************************** Home ***************************/

.banner-section {
  background-image: url(../img/banner-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
/* .banner-section:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
} */
.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 500px;
  position: relative;
  z-index: 1;
  max-width: 550px;
}
.banner-text h1 {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 50px;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1;
  background: #ffac33;
  color: #fff;
  padding: 5px 10px;
  border-radius: 2px;
  width: 100%;
}
.banner-text img {
  height: 40px;
  width: 40px;
}
.banner-text p {
  color: #fff;
  letter-spacing: 6px;
  font-size: 20px;
  padding: 5px 10px;
  background: #003366;
  width: 100%;
  border-radius: 2px;
}

.section-title h2 {
  color: #003366;
  font-size: 32px;
  margin: 0;
  font-family: "Allerta Stencil", sans-serif;
  margin-bottom: 1.2rem;
}

.content p {
  font-size: 16px;
  color: #999;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.content a,
.content a:visited,
.content a:active {
  color: #003366;
  text-decoration: underline;
}
.content a:hover {
  opacity: 0.9;
}
.quote {
  background: #03c2ce;
  padding: 3em;
  margin: 3em 0 0;
  border-radius: 2px;
}
.quote p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
}
.quote a {
  text-decoration: none;
}
